* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #282c34;
}

.popup-cont {
  padding: 5px 15px;
  color: white;
}

.popup-cont h2,
.popup-cont h3 {
  margin-bottom: 5px;
}

.popup-cont p {
  margin-bottom: 15px;
}

.popup-cont ol {
  margin-bottom: 15px;
  padding: 0 40px;
}

.popup-cont ol > li{
  margin-bottom: 10px;
}

.popup-cont ol > li > ul{
  margin-top: 5px;
  padding: 0 20px;
}

.popup-cont ol li img{
  margin: 5px 10px;
  width: 100%;
}
